<html>
  <head>
    <title>{{ subchannel_name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="content">
      <h1>
        <a href="{{ subchannel_url }}"
          >{{ subchannel_name }}</a
        >
      </h1>

      <p>
        Derived from
        <a href="{{ source_channel_url }}">{{ source_channel_name }}</a>
        with the following flags:
      </p>

      <ul>
      {% for flag, value in cli_flags.items()|sort %}
        {% if value %}
        <li><code>{{ flag }}</code>: <code>{{ value }}</code></li>
        {% endif %}
      {% endfor %}
      </ul>

      <p>Available subdirs:</p>

      <ul>
        {% for subdir in subdirs %}
        <li><a href="{{ subdir }}">{{ subdir }}</a></li>
        {% endfor %}
      </ul>

      <p>You can use this subchannel with the URL <code id="channel-url">{{ subchannel_url }}</code></p>
      <p>For example, with <code>conda</code>:</p>
      <pre>
        <code>$ conda create -n new-channel --override-channel -c <span id="channel-url">{{ subchannel_url }}</span></code>
      </pre>
    </div>
    {% if not subchannel_url %}
    <script type="text/javascript">
      document.querySelectorAll("#channel-url").forEach((elem => elem.innerText = window.location));
    </script>
    {% endif %}
  </body>
</html>
